/*generally*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(white ,#006afe);*/
    background: black;
    color: white;
    margin: auto;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


/*button menus*/

#buttonsBox {
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buttonsBox button {
    width: 300px;
    /*background: linear-gradient(260deg, pink, white);*/
    background: black;
    border: 1px solid #96ff3d;
    color: #96ff3d;
    border-radius: 5px;
    padding: 4px;
    height: 40px;
    margin-bottom: 10px;
    z-index: 10;
    font-size: 16px;
}

#buttonsBox button:hover {
    background: #ffffff8c;
}


/*title*/

#gamingTitle {
    width: 500px;
    position: fixed;
    font-size: 52px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -160px;
}


/*animation before the game*/

#animatedBubbles {
    width: 100%;
    height: 1000px;
}


/*animation bubbles*/

#animatedBubbles div {
    position: absolute;
    bottom: 60px;
    border-radius: 50%;
    border: 0.5px solid white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    animation: float 4s linear infinite;
    z-index: 0;
}

#animatedBubbles div:before {
    position: absolute;
    background-image: radial-gradient(white, #ffffff3b);
    border-radius: 50%;
    content: "";
    width: 20%;
    left: 20px;
    top: 12px;
    height: 20%;
}


/*floating for the animation*/

@keyframes float {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-1100%);
        opacity: 0;
    }
}

.information {
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    color: red;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    z-index: 2;
    transform: translate(-50%, -50%);
}


/*player name*/

#askPlayerNameBox {
    width: 420px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #96ff3d;
    height: 300px;
    padding: 4px;
    border-radius: 5px;
    background: #96ff3d5e;
}

#askPlayerNameBox p {
    text-align: center;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    margin-top: -30px;
    width: 300px;
    color: white;
}

#enterPlayerName {
    width: 400px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
    border: unset;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    margin-top: 20px;
}


/*continue button*/

#continue {
    width: 200px;
    background: #96ff3d;
    border-radius: 5px;
    border: 1px solid white;
    padding: 4px;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}


/*description of the courses*/

#descriptionBox {
    position: fixed;
    background: #96ff3d26;
    border: 1px solid white;
    color: white;
    width: 700px;
    height: 700px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#counterText {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

#courseBox {
    color: white;
    width: 700px;
    height: 500px;
    border-radius: 5px;
    margin-top: 100px;
}


/*course(s)*/

.course {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    position: relative;
}

.course:before {
    background-image: radial-gradient(white, #ffffff3b);
    border-radius: 50%;
    content: "";
    width: 20%;
    left: 40px;
    top: 12px;
    height: 20%;
    position: absolute;
}

#memorizeText {
    margin-top: 10px;
    font-size: 30px;
    margin: auto;
}


/*skip button*/

#skip {
    margin-bottom: 10px;
    background: black;
    color: white;
    border: 1px solid black;
    width: 200px;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    margin-top: 50px;
}

#intro {
    font-weight: bold;
    color: #ffabab;
    text-decoration: underline;
}


/*gaming bubbles for the first semester*/

.gameBubbles {
    position: absolute;
    bottom: 60px;
    border-radius: 50%;
    animation: gameFloating 4s linear infinite;
    z-index: 0;
}

.gameBubbles:before {
    position: absolute;
    background-image: radial-gradient(white, #ffffff3b);
    border-radius: 50%;
    content: "";
    width: 20%;
    left: 20px;
    top: 12px;
    height: 20%;
}


/*float for the first semester bubbles*/

@keyframes gameFloating {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-1100%);
        opacity: 0;
    }
}


/* +1 / -1 text after a click on a gaming bubble*/

.clickedText {
    font-size: 50px;
    position: absolute;
    text-align: center;
    margin: auto;
}

#playerNameBox {
    top: 0;
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #96ff3d;
    margin-left: 10px;
    margin-top: 10px;
}

#eth {
    float: right;
    right: 0;
    width: 400px;
    border-collapse: collapse;
    background: #96ff3d;
    color: white;
    position: absolute;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 70px;
    z-index: 30;
}

#eth tr:first-child {
    font-size: 30px;
    color: white;
}


/*hearts*/

.heart {
    width: 150px;
    color: black;
    font-size: 42px;
    line-height: 42px;
    margin-right: 10px;
}

#showTimeLeft {
    font-size: 40px;
    color: black;
}

#ectsText {
    font-size: 40px;
    color: black;
}

#continueGameButton {
    padding: 8px;
    width: 100px;
    background: #96ff3d;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

#retry {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #96ff3d;
    background: transparent;
    color: #96ff3d;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}
/*semester two*/
#gtSemester2 {
    background: black;
    color: #96ff3d;
    padding: 10px;
    border: 1px solid #96ff3d;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    transform: translate(-50%, -50%);
}

#descriptionBox2 {
    position: fixed;
    background: #ffb3c04a;
    border: 1px solid white;
    color: white;
    width: 700px;
    height: 700px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course2 {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    position: relative;
}

#playerNameBox2 {
    top: 0;
    position: absolute;
    left: 0;
    font-size: 30px;
    color: #ffb3c0;
    margin-left: 10px;
    margin-top: 10px;
}
/*bubbles for the seconds semester*/
.gameBubbles2 {
    position: absolute;
    bottom: 60px;
    border-radius: 50%;
    animation: differentFloating 16s linear infinite;
    z-index: 0;
}

.gameBubbles2:before {
    position: absolute;
    background-image: radial-gradient(white, #ffffff3b);
    border-radius: 50%;
    content: "";
    width: 20%;
    left: 20px;
    top: 12px;
    height: 20%;
}
/*floating for the bubbles from the second semester*/
@keyframes differentFloating {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateX(calc(100vw - 300px));
    }
    30% {
        transform: translateY(calc(-20vh - 100px));
    }
    50% {
        transform: translate(calc(80vw - 100px), 0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

#intro2 {
    font-weight: bold;
    color: #96ff3d;
    text-decoration: underline;
}

#eth2 {
    float: right;
    right: 0;
    width: 400px;
    border-collapse: collapse;
    background: #ffb3c0;
    color: white;
    position: absolute;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 70px;
    z-index: 30;
}

#eth2 tr:first-child {
    font-size: 30px;
    color: white;
}

#internBox{
    width: 400px;
    text-align: left;
    margin: auto;
    word-break: break-word;
}
/*finish button*/
#finish {
    
    float: right;
    right: 0;
    width: 100px;
    border-collapse: collapse;
    background: lightgray;
    position: absolute;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}